*{
    padding: 0;
    margin: 0;
}
#Navbar{
    height: 60px;
    background-color: #0f1111;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 200px;
}

#logo{
    color: #f08804;
    font-size: 25px;
    margin-left: 2px;
}
button{
    background-color: #f08804;
    color: white;
}

.ContentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 617px;
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}